{% extends 'ShopLileyaBundle::layout.html.twig' %}
{% block title %}Контакты {% endblock %}
{% block content %}
    <h1>Контакти інтернет магазину спідньої білизни</h1>
    {% for flashMessage in app.session.flashbag.get('blogger-notice')%}
        <div class="Blogger-notice">
            {{ flashMessage }}
        </div>
        {%endfor%}
    <p>Щоб знами звязатись, заповніть ,будьласка, форму: </p>
    <form action="{{path('shop_lileya_contact')}}" method="post"{{form_enctype(form)}} class="blogger">
        {{form_errors(form)}}
        
        {{form_row(form.name)}}
        {{form_row(form.email)}}
        {{form_row(form.subject)}}
        {{form_row(form.body)}}
        
        {{form_rest(form)}}
        <input type="submit" value="Відправити"/>
    </form>
        
    {% endblock%}
    
   