{% extends 'ShopLileyaBundle::layout.html.twig' %}
{% block stylesheets %}
    {{parent()}}
<<<<<<< HEAD
    <link href="{{asset('bundles/Shopblog/css/jquery.bxslider.css')}}" type="text/css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{asset('bundles/Shopblog/js/jquery.bxslider.min.js')}}"></script>
=======
    <link href="{{asset('bundles/shoplileya/css/jquery.bxslider.css')}}" type="text/css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{asset('bundles/shoplileya/js/jquery.bxslider.min.js')}}"></script>
>>>>>>> 1
    <script type="text/javascript">
     $(document).ready(function(){
  $('.bxslider').bxSlider({
      auto:true,
      autoControls: true
  });
});
    </script>
{% endblock %}
{% block content %} 
    <ul class="bxslider">
<<<<<<< HEAD
        <li><img src="{{asset('bundles/Shopblog/images/3.jpg')}}" /> <p>fjghrfjghkjfhgjkshj</p></li>
        <li><img src="{{asset('bundles/Shopblog/images/1.jpg')}}" /><p>Только сегодня при  заказе 3-х доставка на халяву</p></li>
  <li><img src="{{asset('bundles/Shopblog/images/2.jpg')}}" /></li>
=======
        <li><img src="{{asset('bundles/shoplileya/images/3.jpg')}}" /> <p>fjghrfjghkjfhgjkshj</p></li>
        <li><img src="{{asset('bundles/shoplileya/images/1.jpg')}}" /><p>Только сегодня при  заказе 3-х доставка на халяву</p></li>
  <li><img src="{{asset('bundles/shoplileya/images/2.jpg')}}" /></li>
>>>>>>> 1
  
</ul>
    <p>Мы собираемся включить весь наш HTML в элемент div с классом “pp_gallery”. Код будет состоять из элементов div индикатора загрузки и навигации, которая появляется  только при просмотре полноразмерного изображения, а также основного контейнера для миниатюр.

Внутри контейнера для миниатюр, который имеет класс “pp_thumbContainer”, мы размещаем несколько элементов div для альбомов и элемент div для возвращения к виду выбора альбомов. Каждый альбом содержит миниатюры  с описаниями, помещенные в div с классом “content”. Также имеется элемент div для описания альбома.</p>
	   
{% endblock%}