{% extends "ShopLileyaBundle::layout.html.twig" %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('bundles/ShopLileya/css/jqzoom.css')}}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{asset('bundles/ShopLileya/js/jquery.jqzoom.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/ShopLileya/js/ajax.js')}}"></script>
<script type="text/javascript">

jQuery(document).ready(function(){
$("img.jqzoom").jqueryzoom({
				xzoom: 500, //ширина окна просмотра зума (200 по умолчанию)
				yzoom: 500, //высота окна просмотра зума (200 по умолчанию)
				offset: 7 //отступ от картинки (10 по умолчанию)
				//position: "right" //позиция окна зума ("right" - по умолчанию)
			});
});
</script>
   {% endblock %}
{% block title %}{{product.title}}{%endblock%}
{% block content %}
	<div id="fotoslide"><span class="tozoom"><img src="{{asset(['images/',product.image]|join)}}" class="jqzoom" alt="{{asset(['images/',product.image]|join)}}" class="large" /></span></div>
	<div id="describe"> 
	<h3>{{product.title}}</h3>
	<p><strong>Cтиль:</strong> Сексуальний<br>
	  {{product.describes}}

	   </p>
	
	  
	  <p><strong>Колір:<strong><br/>
		<input type="radio"  name="color" value="White"/>Білий<br/>
		<input type="radio"  name="color" value="Black"/>Чорний<br/>
		<input type="radio"  name="color" value="Grey"/>Сірий<br />
        </label>
	  </p>
	  
	
	  
 	  <p><strong>Об'єм:<strong><br/>
		<input type="radio" name="obem" value="70"/>70<br/>
		<input type="radio" name="obem" value="75"/>75<br/>
		<input type="radio" name="obem" value="80"/>80<br/>
		<input type="radio" name="obem" value="85"/>85<br/>
		<input type="radio" name="obem" value="90"/>90<br/>
        </label>
	  </p>
  
 	   <p><strong>Чашка:<strong><br/>
		<input type="radio" name="chashka" value="A"/>A<br/>
		<input type="radio" name="chashka" value="B"/>B<br/>
		<input type="radio" name="chashka" value="C"/>C<br/>
		<input type="radio" name="chashka" value="D"/>D<br/>
		<input type="radio" name="chashka" value="E"/>E<br/>
        </label>
	   </p>
        
	   <p><strong>Ціна</strong>{{product.price}}<strong>грн.</strong></p>
       <input type="hidden" name="price" value="{{product.price}}" />
	    <p><strong>Кількість:</strong> <input id="inputsize" name="count" type="number" min="1" value="1" />&nbsp <button onclick="add_corf({{product.id}});">Купити</button></p>
 
 <a href="#">Таблиця розмірів</a> 
 
 </div>
<div class="clear"> </div>
 {%endblock%}
 {% block comment %}
<div id="comentarii">
        
                <h3>Коментар</h3>
                {% include 'ShopLileyaBundle:Comment:index.html.twig' with {'comments': comments} %}
                <h3>Додати коментар</h3>
                {% render(controller( 'ShopLileyaBundle:Comment:new', {'product_id': product.id})) %}
           
</div>
{%endblock%}
            
    