{% for comment in comments %}
    <article class="comment{{ cycle(['odd','even'],loop.index0)}}" id="comment-{{comment.id}}">
        <header>
            <p><span class="highlight">{{comment.user}}</span> написав <time>{{comment.created|date('F j,Y')}}</time></p>
        </header>
                                                                              <p>{{comment.comment}}</p>
    </article>
    {%else%}
        <p> До цього товару поки що немае коментарыв. Будьте першими та додайте свый коментар...</p>
        {%endfor%}