{% extends "ShopLileyaBundle::layout.html.twig" %}
<<<<<<< HEAD
{% block stylesheets %}
    {{parent()}}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{asset('bundles/ShopLileya/js/coun_summ.js')}}"></script>
   {% endblock %}
{% block title %}{%endblock%}
{% block content %}
{% if app.session.get('product')%}
<form>
<table>
    <tr>
        <td>Артикул</td>
        <td>Назва</td>
=======
{% block title %}{%endblock%}
{% block content %}
<table>
    <tr>
>>>>>>> 86798453b7d66ff8e6763ef45d1cf6d38936ea51
        <td>Колір</td>
        <td>Об`єм</td>
        <td>Чашка</td>
        <td>Кількість</td>
        <td>Ціна</td>
        <td>Сума</td>
<<<<<<< HEAD
        <td>Вилучити</td>
    
    </tr>
{% for product in products %}
     <tr>
     <td>{{ product.id}}</td>
    <td><a href="{{path('ShopLileyaBundle_product_show',{'id': product.id})}}">{{ product.title}}</a></td>
    <td>{{ prod[product.id]['color'] }} </td>
    <td>{{ prod[product.id]['obem'] }}</td>
    <td>{{ prod[product.id]['chashka'] }}</td>
    <td> <input id="inputsize" name="count" type="number" min="1" value="{{ prod[product.id]['coun'] }}"/></td>
    <td class="price">{{ product.price}}</td>
    <td id="summ">{{ product.price * prod[product.id]['coun']}}</td>
    <td><button>Вилучити</button> </td>
    </tr>
    
    
  {% endfor %}
</table>
</form>
{% else %}
<p>Ваша корзина порожня. Виберіть товар для здійснення покупки</p>
{% endif %}

=======
    
    </tr>
{% for product in product %}
     <tr>
    <td>{{ product.color}}</td>
    <td>{{ product.obem}}</td>
    <td>{{ product.chashka}}</td>
    <td>{{ product.coun}}</td>
    <td>{{ product.price}}</td>
    <td>{{ product.price*product.coun}}</td>
    </tr>
    {% else %}
    <p>Ваша корзина порожня. Виберіть товар для здійснення покупки</p>
    
  {% endfor %}
</table>
>>>>>>> 86798453b7d66ff8e6763ef45d1cf6d38936ea51
{%endblock%}